.holder{
    width:30%;margin:10px auto;border:1px;min-width:300px;min-height:300px;
}
.grade{
    height:30px;width:100%;font-weight:600;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}